<span class="">
    <button (click)="onCatchClick()" class="content-center">
      <ng-container *ngIf="!loading; else showLoading">
        <ng-container
          *ngIf="isCollected; then collected; else notCollected"
        ></ng-container>
        <ng-template #collected>
          <span class="bg-red-400 items-center rounded shadow text-white p-2 ml-3"
            >Remove pokemon</span
          ></ng-template
        >
        <ng-template #notCollected>
          <span
            class="bg-blue-500 items-center rounded shadow text-white p-2 ml-3"
            >Catch Pokemon</span
          ></ng-template
        >
      </ng-container>
      <ng-template #showLoading>
        <span
            class=" items-center p-2 ml-3"
            >Loading...</span
          >
      </ng-template>
    </button>
  </span>
  