<li *ngIf="pokemon" class="shadow bg-white rounded float-left p-5 m-2">
  <span class="flex justify-center font-bold">{{ pokemon.name }}</span>
  <section>
    <img
      [src]="

        pokemon.imgUrl 
      
      "
      [alt]="pokemon.name"
      class="items-center object-contain h-40 w-30"
    />
  </section>
  <app-collect-button [pokemonName]="pokemon.name"></app-collect-button>
</li>
