<nav class="bg-blue-500 flex justify-between items-center p-8 sticky w top-0 w-full  ">
  <span class="font-bold text-4xl">Pokemon</span>
  <ng-container *ngIf="trainer !== undefined">
      <ul class="flex">
        <li class="px-4 flex justify-start">
          <a routerLink="/catalogue" class="font-bold text-xl border shadow border-black rounded p-2"> Pokemon catalogue</a>
        </li>
        <li class="flex justify-end">
          <a class="font-bold text-xl border shadow border-black rounded p-2" routerLink="/trainer">My trainer</a>
        </li>
      </ul>
    </ng-container>
</nav>
