<header class="mx-auto container p-4">
<h1 class="text-3xl"> Welcome trainer {{trainer?.username}}!</h1>
</header>
<main class="mx-auto container p-4"> 
<h4 class="text-xl"> Your collected pokemon  </h4>
<app-logout-button> </app-logout-button>
<app-collection-list [pokemonList]="collection"></app-collection-list>
</main>