<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
  <fieldset class="mb-3">
    <label for="username" class="block text-xl font-bold">Trainer name</label>
    <input
      type="text"
      ngModel
      #username="ngModel"
      name="username"
      id="username"
      class="border border-slate-300 p-2 rounded w-full"
      placeholder="Enter Trainers name"
    />
  </fieldset>
  <div *ngIf="!loading; else showLoader">

    <button type="submit" class="bg-red-500 p-2 rounded text-white">Login</button>
  </div>
  <ng-template #showLoader> 
    <p class="font-bold text-xl">Loading...</p>
  </ng-template>
</form>
