<header class="mx-auto container p-4">
    <h1 class="text-3xl"> Welcome to pokemon trainer!</h1>
</header>
<main class="container mx-auto px-4">
    <app-login-form (login)="handleLogin()"></app-login-form>
</main>