<span class="flex">
  <ng-container *ngIf="!loading; else showLoading">
    <ng-container
      *ngIf="isCollected; then collected; else notCollected"
    ></ng-container>
    <ng-template #collected>
      <span
        class=" content-center bg-green-400 items-center rounded shadow text-white p-2"
        >Pokemon collected</span
      ></ng-template
    >
    <ng-template #notCollected>

        <button
          (click)="onCatchClick()"
          class="content-center bg-blue-500 items-center rounded shadow text-white p-2 ml-3"
          >
          Catch Pokemon
        </button>
      </ng-template
    >
  </ng-container>
  <ng-template #showLoading>
    <span class="items-center p-2 ml-3 opacity-50"
      >Loading...</span
    >
  </ng-template>
</span>
