<header class="mx-auto container p-4">
    <h1 class="text-3xl"> Catalogue of pokemon</h1>
</header>
<main class="container mx-auto p-4">
    <p *ngIf="loading">Loading pokemon list...</p>
    <app-pokemon-list [pokemonList]="pokemonList"></app-pokemon-list>
</main>